.comment-tags {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.tag {
  display: inline-block;
  background-color: #ffce97;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 0.9em;
  color: #333;
}