/* Styles for the whole input group */
.input-group {
    display: flex; 
    align-items: center; 
    margin: 20px; 
}

/* Specific styles for the input box */
.input-box {
    flex-grow: 1; 
    padding: 10px; 
    height: 100px; 
    border: 2px solid #ccc; 
    margin-right: 10px; 
}

/* Styles for the submit button */
.button {
    padding: 10px 20px; 
    background-color: #FFA64D; 
    color: white; 
    border: none; 
}

.button:hover {
    background: #D9534F;
}

.text-muted {
    margin: 5px;
    font-size: 0.5rem; 
    color: #6c757d; 
}
