body {
  background-color: #fff; /* Dark navy color */
  color: #ffffff; /* Light text color for contrast */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.comment-container {
  width: 100%; 
  min-height: 300px;
  align-items: center;
  justify-content: center;
}

.loading-message {
  font-size: 1.5rem; 
  color: #666; 
}

/* Remove border and padding for the ListGroup */
.list-group {
  border: none;
  padding: 0;
  margin: 0;
}

/* Remove border and padding for the ListGroupItem */
.list-group-item {
  border: none;
  padding: 2.5px;
  margin: 5px 150px 0px 20px;
  border-bottom: none;
}

/* commentDisplay.css */
.reply-button, .toggle-replies-button {
margin-left: 10px;
background: #ff4d4d; /* Vibrant color for buttons */
color: #f1f1f1;
border: none;
padding: 10px 20px; /* Add padding for larger buttons */
border-radius: 20px; /* Make buttons more rounded */
cursor: pointer;
transition: background 0.3s ease;
}

.reply-button:hover, .toggle-replies-button:hover {
background: #ff1a1a; /* Darker shade on hover */
}

.reply-input {
display: flex;
align-items: center;
margin-top: 10px;
}

.reply-input input {
margin-right: 10px;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
width: 300px; /* Increase the width to make the input box longer */
}

.reply-input button {
margin-left: 10px;
background: #ff4d4d; /* Vibrant color for buttons */
color: #f1f1f1;
border: none;
padding: 10px 20px; /* Add padding for larger buttons */
border-radius: 20px; /* Make buttons more rounded */
cursor: pointer;
transition: background 0.3s ease;
}

.reply-input button:hover {
background: #ff1a1a; /* Darker shade on hover */
}

.card-body {
position: relative;
}

.comment-text h4 {
text-align: left;
margin: 0;
}

.comment-header {
position: absolute;
top: 0;
right: 0;
}

.comment-actions {
display: flex;
justify-content: space-between;
align-items: flex-end;
margin-top: 10px;
}

.left-actions {
display: flex;
align-items: center;
}

.right-actions {
display: flex;
align-items: center;
}

.toggle-replies-button {
background: none;
border: none;
cursor: pointer;
}

.arrow-icon {
width: 20px; /* Adjust the width as needed */
height: 20px; /* Adjust the height as needed */
}

.nested-comments {
margin-left: 20px;
margin-top: 10px;
}
