.header {
  background-color: #222831;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header .navbar-brand {
  color: #F7F6F6;
  font-weight: bold;
  font-size: 1.5rem;
}

.header .nav-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 15px;
  transition: color 0.3s;
}

.header .nav-link:hover {
  color: #ff5a5f;
}

.header .navbar-toggler {
  border: none;
}

.header .navbar-toggler::after {
  content: "\2630";
  color: #fff;
  font-size: 1.5rem;
}
