.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222831;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  border-bottom: 2px solid #1b2027;
}

.header .navbar-brand {
  color: #F7F6F6;
  font-weight: bold;
  font-size: 1.5rem;
}

.header .navbar-brand:hover {
  color: #ff5a5f; 
}

.header .nav-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 15px;
  transition: color 0.3s;
}

.header .nav-link:hover {
  color: #ff5a5f;
}

.header .navbar-toggler {
  border: none;
}

.header .navbar-toggler::after {
  content: "\2630";
  color: #fff;
  font-size: 1.5rem;
}
