body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .likeButton {
    position: relative;
  }
  
  .likeButton .heartIcon {
    height: 100px;
    width: 100px;
    background: url('../../assets/heart.png'); 
    background-position: left;
    cursor: pointer;
    position: absolute;
  }
  
  .likeButton .heartIcon.liked {
    animation: like-anim 0.75s steps(28) forwards;
  }
  
  @keyframes like-anim {
    to {
      background-position: right;
    }
  }
  
  .likeButton .heartBg {
    background: rgba(255, 192, 200, 0);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
  }
  
  .likeButton .heartBg:hover {
    background: rgba(255, 192, 200, 0.7);
  }
  
  .likeButton .likesStatus {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    margin-left: 6px;
  }
  