/* popUpBox.css */

.info {
  padding: 20px;  /* Increase padding */
  background: white;
  border-radius: 5px;
  font-size: 18px; 
  line-height: 1.5; 
  max-width: 300px;  
  box-shadow: 0 0 15px rgba(0,0,0,0.2);  
  text-align: center;
}

.info h4 {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;  /* Increase header size */
}


.legend {
  line-height: 18px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}